.contact-bars {
    .flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        min-height: 15rem;
        gap: 0;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            // background-color: $primary;
            padding: 2rem 1rem;

            &:nth-of-type(even) {
                background-color: #d61c1c;
            }

            &:nth-of-type(odd) {
                background-color: $primary;
            }


            @media (max-width: 992px) and (min-width: 576px) {
                border-bottom: 1px solid #a1a1a1;
            }

            .icon-div {
                font-size: 3rem;
                color: $white;
            }

            .title {
                font-size: 1.4rem;
                font-weight: 600;
                color: $white;
                margin-bottom: 1.4rem;
            }

            p,
            a {
                font-size: 1rem;
                color: $white;
                text-align: center;
                margin-bottom: 0.5rem;

                i {
                    margin-right: 0.2rem;
                }
            }
        }

    }
}